* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem;
}

.header {
  color: green;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 25px;
}

.header .header-top {
  display: flex;
  gap: 1rem;
}

.header .header-top .header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.header .header-top .header-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 30px;
  height: 30px;
}

.main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: grid;
  grid-template-columns: 30fr 70fr;
  column-gap: 1rem;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.input-group > label {
  justify-self: right;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin: 10px;
}

.toggle-switch .toggle-input {
  display: none;
}

.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 24px;
  background-color: #4e4e4e;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #007adf;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(36px);
}

.toggle-switch.light .toggle-label {
  background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  color: gray;
}
